<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="bootstrap.min.css")
    link(rel="stylesheet" href="style.css")
    title Document

  body 
    div.container
      div.row
        div.col
          p.header.text-center.text-uppercase 
            b Только  
              span.yellow 10 партнеров 
              | получат
              br уникальное преимущество 
            | для своего бизнеса
          h1.text-center.text-uppercase до старта проекта осталось
          div#CDT
            

    script(src="https://yastatic.net/jquery/3.1.1/jquery.min.js")
    script(src="js/popper.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/countdown.js")